__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
.venv/
`.venv/
pip-log.txt
pip-delete-this-directory.txt
.python-version
db*.sqlite
.git
.idea/
*.mypy_cache/
*.egg-info/
.DS_Store

./.claude
.env
.venv
pytest_cache/
.eggs/
dist/
build/
develop-eggs.txt
*.egg-info
# project
neobin, neodeb,而自己初步二.pdf, ethnichina-trans.zhi, devbin

/data
conda-lint.log
.vscode/
clef_addirt.txt
.suffix,exe,ebd
TESDE.ini
geormteb.txt
EAADIS
MARSS
